In [1]:
# SERIES
# Creating of empty series
import pandas as pd
s=pd.Series()
print(s)

Series([], dtype: object)

In [7]:
# Create series of ndarray
import pandas as pd
import numpy as np

data1=np.array([1,2,3,4])
data2=np.array(['a','b','c','d'])
s1=pd.Series(data1)
s2=pd.Series(data2)
print(s1)
print(s2)

0    1
1    2
2    3
3    4
dtype: int32
0    a
1    b
2    c
3    d
dtype: object

In [13]:
# Give index
import pandas as pd
import numpy as np
data=np.array(['a','b','c','d'])
s=pd.Series(data,index=[100,101,102,104])
print(s)

100    a
101    b
102    c
104    d
dtype: object

In [17]:
# Create Series of dict
import pandas as pd
import numpy as np

data={'a':0.,'b':1.,'c':2.}
s=pd.Series(data)
print(s)

a    0.0
b    1.0
c    2.0
dtype: float64

In [19]:
import pandas as pd
import numpy as np
data={'a':0.,'b':1.,'c':2.}
s=pd.Series(data,index=['c','a','d','b'])
print(s)

c    2.0
a    0.0
d    NaN
b    1.0
dtype: float64

In [29]:
# Retrive the element
import pandas as pd
s=pd.Series([1,2,3,4],index=['a','b','c','d'])
print (s[0])

1

C:\Users\Admin\AppData\Local\Temp\ipykernel_5844\3153952646.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print (s[0])

In [71]:
# Retrive first 3 elments the element
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print (s[:3])

a    1
b    2
c    3
dtype: int64

In [41]:
# Retrive last 3 elments the element
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print (s[-3:])

c    3
d    4
e    5
dtype: int64

In [73]:
# Retrive by labled index 
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print (s['b'])

2

In [75]:
# Retrive by labled index 
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print (s[['a','c','e']])

a    1
c    3
e    5
dtype: int64

In [79]:
# DATA FREMES
# creating empty data frame
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [53]:
# creating data frame of list
import pandas as pd
list=[1,2,3,4,5]
df=pd.DataFrame(list)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [59]:
import pandas as pd
list=[['Sam',18],['Ram',20],['Bob',17]]
df=pd.DataFrame(list,columns=['Name','Age'])
print(df)

  Name  Age
0  Sam   18
1  Ram   20
2  Bob   17

In [89]:
import pandas as pd
data={'Name':['Sam','Tom','Jack','Ricky'],'Age':[12,17,18,23]}
df=pd.DataFrame(data)
print(df)

    Name  Age
0    Sam   12
1    Tom   17
2   Jack   18
3  Ricky   23

In [93]:
import pandas as pd
data={'Name':['Sam','Tom','Jack','Ricky'],'Age':[12,17,18,23]}
df=pd.DataFrame(data,index=['Rank 1','Rank 2','Rank 3','Rank 4'])
print(df)

         Name  Age
Rank 1    Sam   12
Rank 2    Tom   17
Rank 3   Jack   18
Rank 4  Ricky   23

In [97]:
# Create data frame using list
import pandas as pd
data=[{'a':1,'b':2},{'a':10,'b':11,'c':12}]
df=pd.DataFrame(data)
print(df)

    a   b     c
0   1   2   NaN
1  10  11  12.0

In [99]:
# Create data frame using list
import pandas as pd
data=[{'a':1,'b':2},{'a':10,'b':11,'c':12}]
df=pd.DataFrame(data,index=['First','Second'])
print(df)

         a   b     c
First    1   2   NaN
Second  10  11  12.0

In [101]:
# column Selection
import pandas as pd
d={'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
print(df ['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64